* {
    box-sizing: border-box;
    text-align: center;
    background-color: gray;
  }

  header {
    width: 75%;
    background-color: #eee;
  }

  #nav {

  }

  #section {

  }

  #article {

  }
  #h1h2h3 {

  }

  aside {

  }

  footer {
      
  }

